/* body {
    background-color: aquamarine;
}
h1{
    color: white; 
    background-color: purple;
} 

p{
    color: whitesmoke;
    background-color: blue;
}
.additional{
border : 4px groove yellow;
}
.switcher {
    padding: 20 px;
    border: 4px groove white;
}

.blue-background {
    background-color: green;
} */
 body {
  background-color: black;
  color: white;
}

.card-container {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 60px;
  margin: 10px;
  color: yellow;
  cursor: pointer;
  transition: 0.2s;
  padding: 30px;
  background-color: green;

}

.card:hover {
  transform: scale(1.1);
}

#cards {
  display: flex;
  flex-wrap: wrap;
}