* {
  color: white;
}
button {
  color:  black;
}
body {
  background-color: black;
}

.card {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 40px;
  margin: 10px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

#cards {
  display: flex;
  flex-wrap: wrap;
}
img {
  display: inline;
  /* inline */
  height: 150px;
  opacity: 0.9;
  /* visibility: hidden; */
  margin: 20px 50px;
  }