body {
    background-color: aquamarine;
}
h1{
    color: white; 
    background-color: purple;
} 

p{
    color: whitesmoke;
    background-color: blue;
}
.additional{
border : 4px groove yellow;
}
.switcher {
    padding: 20 px;
    border: 4px groove white;
}

.blue-background {
    background-color: green;
}